#home{

height: 350px;
flex-direction: column;

}

#home::before{

height: 400px;

}
#navbar{

flex-direction: column;
font-size: 15px;

}

#services.box{

flex-direction: column;
overflow: hidden;

}

.head{

font-size: 15px;

}

#client{

flex-wrap: wrap;

}
